
    <!-- Display Comment List -->
    <ul>
        <li class = "" ng-repeat = "i in [1,2,3,4]">
            <!--<p>{{i}}</p> -->
            <form method='post'>
                Comments:</form>
            <div>
            <textarea name="comment" id="comment"></textarea>
                <input style="width:275px; margin:0 auto; padding:0;" type="text" name="Comment" value="" placeholder="Great Note!"><br>
            </div>
            </form>
            <!--Insert Comments -->
            <button type="button">Submit!</button>
        </li>
    </ul>

