
    <!-- Display Comment List -->
    <ul>
        <li class = "" ng-repeat = "i in [0]">
            <!--<p>{{i}}</p>
            <form method='post'>
                Comments:</form>
            <div>
            <textarea name="comment" id="comment"></textarea>
                <input style="width:275px; margin:0 auto; padding:0;" type="text" name="Comment" value="" placeholder="Great Note!"><br>
            </div>
            </form>
            Insert Comments -->


            <form method='post'>
                Comments:</form>
            <div>

                <form ng-submit="vm.uploadComment()">
                    <input style="width:275px; margin:0 auto; padding:0;" type="text" name="Comment" value="" placeholder=" ex. Great Note!" ng-model="vm.newComment.content"><br>
                    <input class="btn" type="submit"></input>
                </form>
                <textarea name="comment" id="comment"></textarea>

            </div>
        </li>
    </ul>

