/*============================================
    Paul's Custom Style
    (Main Purpose = [Stage 2: Class Page])
 ===========================================*/

/*TODO get a better name then content*/
.content{
    padding: 5px;
}
.content-list{
    width: 100%;
    min-height: 500px;
    max-height: 800px;
    overflow-y: scroll;
    border: solid 1px black;
    list-style: none;
    padding: 0;
    margin-top: 10px;
}
.content-list li{
    margin: 0;
    display: block;
    background-color: white;
    padding: 0px 0px;
    margin-top: 0px;
}
.content-list li a{
    width: 100%;
    padding: 20px;
    box-shadow: 0 1px 2px #888888;

}
.content h3{
    float:left;
    width: 50%;
    display: inline-block;
    text-align: center;

}
.content-list h2{
}
.content-list .details{
    width: 50%;
    float: right;
    display: inline-block;
    height: 100%;
}
.content .btn{
    margin-top: 20px; /*TODO remove margin in mobile*/
}
html{ /*Fixes Nav bar issues*/ /*TODO find a better solution*/
    padding-top: 0px;
}
.options select{
    width: 100%;
    margin-top: 5px;

}
.options input{
    width: 100%;
    margin-top: 5px;
}
.content i{
    margin: 4px 10px 4px 4px;
    display: inline-block;
    float: left;
}
.content .btn-create{
    text-align: left;
}
.content .btn-create i{
    margin: 4px;
}
.btn-back{
    margin: 20px 10px 10px 10px;
}
@media screen and (max-width: 480px) {
    .options .mobile-hide {
        display: none;
    }
}
/* Star Rating Highlight */
.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;


}
.rating > i {
    display: inline-block;
    position: relative;
    cursor: pointer;
    opacity: 0.3;
}
.rating > i:hover,
.rating > i:hover ~ i {
    color: transparent;
    opacity: 1;
}
.rating > i:hover:before,
.rating > i:hover ~ i:before {
    position: relative;
    left: 0;
    color: gold;

}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

content-list{
    max-height: 500px;
    overflow: scroll;
}
.empty-item{
    display:inline-block;
    text-align: center;
}