<div class="content">

    <div style="margin-bottom: 10px" class="row">

        <div class="col-md-12">
            <a type="button" class="btn btn-default btn-block btn-create hvr-back-pulse" href="/create-course">
                <i class="fa fa-plus" aria-hidden="true"></i>
                <span>Create Course</span></a>
        </div>
    </div>

    <!-- List Filtering Features -->
    <div class="row options">
        <!-- Search Feature -->
        <div style="margin-bottom: 10px" class="col-md-6">
            <!-- <span class="mobile-hide" >Search: </span>  --><!-- TODO: need a subtitle? -->
            <input placeholder="Search" ng-model="$ctrl.query" class="hvr-glow ng-pristine ng-untouched ng-valid ng-empty">
        </div>

        <!-- Ordering Feature -->
        <div style="margin-bottom: 10px" class="col-md-6">
            <!-- <span class="mobile-hide" >Order by:</span> --> <!-- TODO: need a subtitle? -->
            <select placeholder="Sort By" ng-model="$ctrl.orderProp" class="ng-pristine ng-untouched ng-valid ng-not-empty">
                <option value="" disabled selected hidden>Sort By...</option>
                <option value="name">Name (ascending)</option>
                <option value="-name">Name (descending)</option>
            </select>
        </div>
    </div>

    <!-- Display Circle Content-->
    <ul style="border-radius: 5px; margin-bottom: 10px" class= "hvr-glow content-list">
        <li ng-show="!vm.usersCourses.length" class="empty-item" style="padding: 20px">No Course</li>
        <li class = "clearfix" ng-repeat= "course in vm.usersCourses  | filter:$ctrl.query | orderBy:$ctrl.orderProp">

            <a class="hvr-bounce-to-bottom" href="/class?id={{ course.id }}"> <!-- TODO: PROPERLY LINK TO SPECIFIC CLASS ID -->
                <h2>{{course.name}}</h2>
                <small class = "description">{{course.desc}}</small>
            </a>
        </li>
    </ul>
</div>
